<template name='agenda'>
  {{#if canSee}}
    <h3 class='pull-right'>Hashtag: <a href='https://twitter.com/search?q=%23reversim'>#reversim</a></h3>
    <h1>Agenda</h1>
    <div>
      <p>We have a google calendar:
        <a target="_blank" href="https://www.google.com/calendar/feeds/fhmkpld1jobgucq30igjagoduk%40group.calendar.google.com/public/basic">
          <img src="https://www.google.com/calendar/images/xml.gif" style='display:inline'>
        </a>
        <a target="_blank" href="https://www.google.com/calendar/ical/fhmkpld1jobgucq30igjagoduk%40group.calendar.google.com/public/basic.ics">
          <img src="https://www.google.com/calendar/images/ical.gif" style='display:inline'>
        </a>
      </p>
    </div>
    <table class='table table-bordered agenda'>
      <thead>
        <tr>
          <th colspan='3' class='text-center'><h2>Day 1 (Mar 11)</h2></th>
        </tr>
        <tr>
          <th style='width:5%'>Time</th>
          <th style='width:30%'>Taub 1 (main hall)</th>
          <th style='width:30%'>Taub 2</th>
        </tr>
      </thead>
      <tbody>
        {{#each day1}}
          {{> agendaItem}}
        {{/each}}
      </tbody>
    </table>
    <table class='table table-bordered agenda'>
      <thead>
        <tr>
          <th colspan='3' class='text-center'><h2>Day 2 (Mar 12)</h2></th>
        </tr>
        <tr>
          <th style='width:5%'>Time</th>
          <th style='width:30%'>Taub 1 (main hall)</th>
          <th style='width:30%'>Taub 2</th>
        </tr>
      </thead>
      <tbody>
        {{#each day2}}
          {{> agendaItem}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if canEdit}}
    <div class='row'>
      <form class="form-inline" role="form" id='add-form'>
        <div class="form-group col-xs-2">
          <label class="sr-only" for="time">Time</label>
          <input class="form-control input-sm" id="time" placeholder="Time and Date" value="03/11/15 10:00:00">
        </div>
        <div class="form-group col-xs-2">
          <label class="sr-only" for="class1">Class 1</label>
          <input class="form-control input-sm" id="class1" placeholder="Class 1">
          <label class="sr-only" for="icon1">icon 1</label>
          <input class="form-control input-sm" id="icon1" placeholder="fa icon, e.g. calendar">
        </div>
        <div class="form-group col-xs-2">
          <label class="sr-only" for="class2">Class 2</label>
          <input class="form-control input-sm" id="class2" placeholder="Class 2">
          <label class="sr-only" for="icon2">icon 2</label>
          <input class="form-control input-sm" id="icon2" placeholder="fa icon, e.g. calendar">
        </div>
        <button type="submit" class="btn btn-default input-sm">Add</button>
      </form>
    </div>
    <hr/>
    <button class="btn btn-warning" id='edit'>Edit</button>
  {{/if}}
</template>