<template name='info'>
  {{!
  <h2>Registration</h2>
  <p>Registration will open about one month before the event and after the agenda is finalized</p>
  }}
  {{!
  <h2>What you get for X?</h2>
  <p>
    We are limited in capacity and unfortunately we will not be able to accomodate for everyone.
    So once we open the registration, if you registed and reserved a spot, then great.
    If not, and you find yourself on the waiting list then the following rules for ticketing apply:
    <ul>
      <li>Submitters get a personal ticket. So if you submit (a quality submission), regardless of whether you got accepted, you secure your place.</li>
      <li>Accepted speakers get a personal ticket +1, for a friend</li>
      <li>Moderators get a ticket + 2. They do an awesome job, and this is a way to thank them</li>
      <li>Sponsors get 5 tickets. Without them the event would not have happened</li>
      <li><a href='http://summit2013.reversim.com/#/speakers'>Speakers of previous rs13</a> get a ticket. Because you did an awesome job.</li>
    </ul>
    We will also record all sessions and make them available past the event.
  </p>
  }}
  <h2><span class='pre-header'>Where:</span> CS faculty, Technion, Haifa</h2>
  <p>
    We are hosted the the Computer Science faculty at the Technion. We thank the technion's <a href='http://tce.technion.ac.il/'>TCE</a> for this help!
  </p>
  {{!
  <h2>Register to Google's Campus TLV web site</h2>
  <p>
    Google requests all guests to be registered to its website. So please <a href='http://www.campustelaviv.com/'>register here</a> (you will also need to register to the event itself on meetup.com)
  </p>
  }}
  <h2>Getting There</h2>
  <h3>Getting to the Technion</h3>
  <p class='lead'>Important: if you're driving through the gate <strong>say that you're coming to the event "reversim summit" (רברסים)</strong> and security will let you in.</p>
  <p>
    <a href='http://www.cs.technion.ac.il/he/directions/'>Driving and public transportation instructions</a>
  </p>
  <p>
    Address: <a href='https://www.google.co.il/maps/place/Technion+%E2%80%93+Israel+Institute+of+Technology/@32.776778,35.023127,14z/data=!4m2!3m1!1s0x0:0x9aedc46b3e79c09c'>Technion – Israel Institute of Technology</a>
  </p>
  <h2>Finding rides</h2>
  <p>We are not affiliated with the following facebook groups, but we hope you might find them useful</p>
  <dl>
    <dd><a href='https://www.facebook.com/groups/135704829788347/'>Technion rides - Inbound</a></dd>
    <dd><a href='https://www.facebook.com/groups/301410316636087/'>Technion rides - Outbound</a></dd>
  </dl>
  <h3>Inside the Technion</h3>
  <img src="{{staticImg '/img/technion-map.png'}}" title="Technion Map" class="img-responsive">
  <h3>Taub building</h3>
  <img src="{{staticImg '/img/Technion_Computer_Science_Faculty.jpg'}}" title='Taub building, technion' class='img-thumbnail pull-right'/>
  <p>The building is called Taub and it looks like this, to the right</p>
  {{!
  <p>Walking from the train station is about 12 minutes and 900 meters (see map)</p>
  <iframe style="margin:20px; height: 300px" class="pull-right img-thumbnail" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=HaShalom,+Tel+Aviv,+Israel&amp;daddr=Yigal+Alon+98,+Tel+Aviv-Yafo,+Israel&amp;hl=en&amp;geocode=FaFn6QEdweYSAimNfmAfmUsdFTEtID5ymBVZ1Q%3BFetZ6QEdU-kSAilJlHwEn0sdFTEj8vMthSKVKw&amp;aq=1&amp;oq=hashalom&amp;sll=32.072266,34.793315&amp;sspn=0.01391,0.026135&amp;dirflg=w&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=32.072138,34.792929&amp;spn=0.005455,0.006437&amp;z=16&amp;output=embed"></iframe>
  }}
  <div class='clearfix'></div>
  <h2>Parking</h2>
  <p>
    You may park on the street wherever you find free parking. Just make sure you follow the signs on the road, remember - we are guests! Lucky for us, this is the semester break, so parking should be easy (well, easier...)
  </p>
  <h2>Entering the buliding</h2>
  <p>
    We are on the <strong>entrance floor</strong>. This should be easy.
  </p>
</template>