<template name='layoutMobile'>
    <div class="header-mobile">
        <div class='row'>
            <div id="sideMenuBtn" class="fa fa-bars sideMenuBtn"></div>
            <h3 class='text-muted no-underline'><a href='{{pathFor "home"}}'>Reversim Summit 2015</a></h3>
        </div>

    </div>
    <div id="wrap">
        <div id='main' class="container bg">
            <div class='row'>
                <div class='col-md-12'>
                    {{> yield}}
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" class="pointer-none"></div>
    <div id="sideMenu" class="side-menu-hidden">
        <div class='row'>{{> navMobile}}</div>
    </div>
    {{> footer}}
    {{> setup}}
</template>

<template name='setupMobile'></template>