<template name='layout'>
<div id="wrap">
  <div id='main' class="container bg">
      <div class="header">
        <div class='row'>
          <div class='clearfix'>
            <a href='{{pathFor "home"}}' class="reversim-logo pull-left" title='Reversim Summit 2015'></a>
            <h4 class='pull-left hidden-xs' style='margin: 1em'>In collaboration with TCE</h4>
            <a href='http://tce.technion.ac.il/' class='pull-left'>
              <img class='img' src='http://dpk7qq034rxx8.cloudfront.net/img/tce-56.jpg' alt='TCE'/>
            </a>
          </div>
          {{> sponsorStrip}}
          <h3 class='text-muted no-underline'><a href='{{pathFor "home"}}'>Reversim Summit 2015</a></h3>
        </div>
        <div class='row'>{{> nav}}</div>
      </div>
      <div class='clearfix'></div>
      <div class='row'>
        <div class='col-md-12'>
          {{> yield}}
        </div>
      </div>
  </div>
</div>
{{> footer}}
{{> setup}}
</template>

<template name='setup'></template>