<head>
  <title>Reversim Summit 2015</title>
  <meta property="og:image" content="http://m.reversim.com/reversim-logo-white.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-startup-image" media="(device-width: 320px)" href="../images/reversim-logo-white3.png">
</head>
<body>
</body>
